.vs/
x64/
*.user

# /4527/ConsoleTest2010/
/4527/ConsoleTest2010/*.sdf
/4527/ConsoleTest2010/ipch

# /4527/ConsoleTestCS2010/ConsoleTestCS/
/4527/ConsoleTestCS2010/ConsoleTestCS/bin
/4527/ConsoleTestCS2010/ConsoleTestCS/obj

build-*/

